
*{
    color: #333;
}
body {
    background: green;

}

.nav-link{
    color: #333;
}
.index-img::after {
    display: block;
    content: '';
    background-image: url(../img/green-ray.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.btn {
    color: #333;
}
.btn:hover{
    color: #fff;
    background-color: darkgreen;
}